.cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
	width: 200px;
	height: 175px;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 15px;
}

.cardContainer:hover{
	cursor: pointer;
	width: 208px;
	height: 182px;

}

.cardImg {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.cardTitle {
	color: rgb(29, 29, 136);
}